@model Country.Models.CountryAll

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-6">
        <h1>Details Country</h1>
    </div>
    <div class="col-6 text-end">
        <button class="btn btn-dark">
            <a asp-action="Index">Back to List</a>
        </button>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalLangauge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalLangauge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-info mt-2">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </button>
</div>
